@font-face {
	font-family: "Inria Serif";
	src: url("assets/fonts/inriaserif-light-webfont.woff2") format("woff2");
	font-weight: 200;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}

@font-face {
	font-family: "Inria Serif";
	src: url("assets/fonts/inriaserif-regular-webfont.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}

@font-face {
	font-family: "Inria Serif";
	src: url("assets/fonts/inriaserif-bold-webfont.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}

@font-face {
	font-family: "Hanken Grotesk";
	src: url("assets/fonts/hankengrotesk-variablefont_wght-webfont.woff2") format("woff2 supports variations"),
		url("assets/fonts/hankengrotesk-variablefont_wght-webfont.woff2") format("woff2-variations");
	font-weight: 100 900;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}

@font-face {
	font-family: "Bungee Shade";
	src: url("assets/fonts/bungeeshade-regular-webfont.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}

@font-face {
	font-family: "Bungee";
	src: url("assets/fonts/bungee-regular-webfont.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}

@font-face {
	font-family: "Shrikhand";
	src: url("assets/fonts/shrikhand-regular-webfont.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}

@font-face {
	font-family: "Krona One";
	src: url("assets/fonts/kronaone-regular-webfont.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}




